body{
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: url(gun.jpg),auto;
        width:100%;
        height:100%;
         touch-action:none;
    }
    body:before{
       margin-bottom: 1%;
       padding-bottom: 1%;
       content:'';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(background2.jpg);
        background-repeat: no-repeat ;
        background-size:cover ;
        background-attachement:fixed;
        z-index: 1;
       
    }
    #countdown{
        position: absolute;
        top: 0;
        margin-bottom: 5%;
        font-size: 30px;
        height: 35px;
        width: 20%;
        z-index: 2;
        user-select: none;
    }
h2 {
    font-size: 36px;
    color: aqua;
    margin-bottom: 20px;
    font-size: 90px;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); 
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center; 
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    user-select: none;
}


.modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.modal-content span {
    font-size: 20px;
    font-weight: bold;
}


.modal-content button {
    background: #3498db; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    
}


.modal-content button:hover {
    background: #2980b9; 
}
.congratulations{
 display: none;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background: #fff;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0  10px rgba(0,0,0,0.2);
 text-align: center;
 user-select: none;
 z-index:2;
}
#congratulations h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #congratsScore {
    font-size: 20px;
    font-weight: bold;
  }
  #congratulation img{
    float: right;
    position: relative;
    top: -20px;
   }
  
  #restartCongratulationsButton {
   position: absolute;
   bottom: 20px;
   left: 10px;
    background: #3498db;
    color: #fff;
    border: none;
   padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
   
  }
  #quitCongratulationsButton{
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: #3498db;
    color: #fff;
    border: none;
   padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    
  }
  
  #restartCongratulationsButton:hover {
    background: #2980b9;
  }
.score{
    position: absolute;
    top: 9%;
    height: 35px;
    width: 20%;
    z-index: 2;
    font-size:30px;
    user-select: none;
}
.panda{
    position: absolute;
    cursor: url('gun1.png'),auto;
    left:-50px;
    top: 10%;
    width: 48px;
    height: 48px;
    z-index:1;
    background: url(panda1.jpg)no-repeat left center;
    image-rendering: auto;
    background-position: -130px 0;  
}
.bomb-element {
    position: absolute;
    cursor: url('gun1.png'),auto;
    left:-50px;
    top: 10%;
    width: 48px;
    height: 48px;
    z-index:1;
    background: url(bomb1.jpg)no-repeat left center;
    image-rendering: auto;
    background-position: -130px 0;  
}
    input:checked+label{
    transform: rotate(120deg);
    transform-origin: 60%;
    z-index: -5;
}

.panda:nth-of-type(1){
    animation: pandaflay 5s linear 1s infinite;
}

.panda:nth-of-type(2){
    animation: pandaflay 10s linear 2s infinite;
}

.bomb-element:nth-of-type(3){
    animation: bombflay 21s linear 10s infinite;
}

.panda:nth-of-type(4){
    animation: pandaflay 15s linear 4s infinite;
}

.panda:nth-of-type(5){
    animation: pandaflay 20s linear 6s infinite;
}

.bomb-element:nth-of-type(6){
    animation: bombflay 30s linear 10s infinite;
}

.panda:nth-of-type(7){
    animation: pandaflay 30s linear 10s infinite;
}

.panda:nth-of-type(8){
    animation: pandaflay 35s linear 12s infinite;
}

.bomb-element:nth-of-type(9){
    animation: bombflay 10s linear 4s infinite;
}

.panda:nth-of-type(10){
    top: 100%;
    animation: pandaflay 45s linear 16s infinite;
}

.panda:nth-of-type(11){
    top: 100%;
    animation: pandaflay 45s linear 16s infinite;
}

.bomb-element:nth-of-type(12){
    animation: bombflay 14s linear 15s infinite;
}

.panda:nth-of-type(13){
    animation: pandaflay 60s linear 22s infinite;
}

.panda:nth-of-type(14){
    animation: pandaflay 65s linear 24s infinite;
}

.bomb-element:nth-of-type(15){
    animation: bombflay 70s linear 26s infinite;
}

.panda:nth-of-type(16){
    animation: pandaflay 75s linear 28s infinite;
}

.panda:nth-of-type(17){
    animation: pandaflay 32s linear 30s infinite;
}

.bomb-element:nth-of-type(18){
    animation: bombflay 28s linear 40s infinite;
}

.panda:nth-of-type(19){
    animation: pandaflay 85s linear 34s infinite;
}

.bomb-element:nth-of-type(20){
    animation: bombflay 90s linear 36s infinite;
}

.panda:nth-of-type(21){
    animation: pandaflay 95s linear 38s infinite;
}

.panda:nth-of-type(22){
    animation: pandaflay 100s linear 40s infinite;
}

.panda:nth-of-type(23){
    animation: pandaflay 105s linear 42s infinite;
}

.bomb-element:nth-of-type(24){
    animation: bombflay 6s linear 7s infinite;
}
.panda:nth-of-type(25){
    animation: pandaflay 105s linear 42s infinite;
}
.panda:nth-of-type(26){
    animation: pandaflay 105s linear 42s infinite;
}

.bomb-element:nth-of-type(27){
    animation: bombflay 115s linear 46s infinite;
}

.panda:nth-of-type(28){
    animation: pandaflay 120s linear 48s infinite;
}
.panda:nth-of-type(29){
    animation: pandaflay 105s linear 42s infinite;
}
.bomb-element:nth-of-type(30){
    animation: bombflay 11s linear 8s infinite;
}

@keyframes pandaflay{
    0% {
        left: 150%;
        top: 10%;
    }
    10% {
        left: 120%;
        top: 20%;
    }
    20% {
        left: 100%;
        top: 30%;
    }
    30% {
        left: 80%;
        top: 40%;
    }
    40% {
        left: 60%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    60% {
        left: 40%;
        top: 50%;
    }
    70% {
        left: 30%;
        top: 50%;
    }
    80% {
        left: 20%;
        top: 60%;
    }
    90% {
        left: 10%;
        top: 70%;
    }
    100% {
        left: 0%;
        top: 100%;
    }
}

@keyframes bombflay {
    0% {
        left: 150%;
        top: 10%;
    }
    10% {
        left: 120%;
        top: 20%;
    }
    20% {
        left: 100%;
        top: 30%;
    }
    30% {
        left: 80%;
        top: 40%;
    }
    40% {
        left: 60%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    60% {
        left: 40%;
        top: 50%;
    }
    70% {
        left: 30%;
        top: 50%;
    }
    80% {
        left: 20%;
        top: 60%;
    }
    90% {
        left: 10%;
        top: 70%;
    }
    100% {
        left: 0%;
        top: 100%;
    }
}
@media screen and (max-width:600px)
{
body{
        font-size:13px;
}
body:before{
        height:100vh;
        width:100%;
}
        .modal-action{
                
        }
}
    





